/* HTML tags */
html,
body {
  width: 100%;
}

body {
  background: url(../images/background.jpg) no-repeat center center transparent;
  background-size: cover;
  text-align: center;
}

/* DOM Elements */
#tools { margin-bottom: 20px; }
#submit { height: 50px; }

/* Classes */
.konvajs-content { margin: 0 auto; }

.img-responsive { max-width: 100%; }

.title { max-width: 50%; }

.tool {
  border: 1px solid black;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  margin: 0 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 40px;
}
.tool-image {
  border: none;
  cursor: pointer;
  width: auto;
}

.rainbow-btn {
  background: -webkit-linear-gradient(-45deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 20%, rgba(233, 19, 136, 1) 40%, rgba(235, 45, 46, 1) 60%, rgba(253, 233, 43, 1) 80%, rgba(0, 158, 84, 1) 100%);
  background: -webkit-gradient(linear,0% 0% ,100% 100% ,color-stop(0,rgba(0, 168, 222, 1) ),color-stop(0.2,rgba(51, 51, 145, 1) ),color-stop(0.4,rgba(233, 19, 136, 1) ),color-stop(0.6,rgba(235, 45, 46, 1) ),color-stop(0.8,rgba(253, 233, 43, 1) ),color-stop(1,rgba(0, 158, 84, 1) ));
  background: -o-linear-gradient(-45deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 20%, rgba(233, 19, 136, 1) 40%, rgba(235, 45, 46, 1) 60%, rgba(253, 233, 43, 1) 80%, rgba(0, 158, 84, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 20%, rgba(233, 19, 136, 1) 40%, rgba(235, 45, 46, 1) 60%, rgba(253, 233, 43, 1) 80%, rgba(0, 158, 84, 1) 100%);
  background: linear-gradient(135deg, rgba(0, 168, 222, 1) 0%, rgba(51, 51, 145, 1) 20%, rgba(233, 19, 136, 1) 40%, rgba(235, 45, 46, 1) 60%, rgba(253, 233, 43, 1) 80%, rgba(0, 158, 84, 1) 100%);
}

