#tools {
  margin-bottom: 20px;
}

#tools a {
  border: 1px solid black;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  margin: 0 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 50px;
}

#submit { color: green; }

#clear { color: red; }
